@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: #000814;
    color: #fff;
    transition: all 0.5s;
  }
  .light {
    background-color: #fff;
    color: #333;
    transition: all 0.5s;
  }

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem 1rem;

    // @include tablet {
    //     flex-direction: row;
    //     justify-content: space-between;
    //     // padding-left: calc(15vw - 100px);
    //     padding: 1rem 1.5rem;
    //     // padding-right: calc(15vw - 100px);
    //     // padding-bottom: 60px;
    // }

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        align-items: center;
    }

    &__sign {
        gap: 2px;
    }

    &__button {
        width: 50px;
        border: 1px solid
    }

    &__title {
        height: 50px;
        display:flex;
        align-items: center;
        text-align: center;

        &-logo {
            max-height: 100px;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        &-text {
            border: none;
            // background: white;
            cursor: pointer;
        }
    }
}