@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    background-color: #000814;
    color: $prim-color-2;
    transition: all 0.5s;

    & input {
        color: $sec-color-1;
    }
}

.light {
    background-color: #fff;
    color: $sec-color-1;
    transition: all 0.5s;

    & input {
        color: $sec-color-1;
    }
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem 1rem 1rem;

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 0rem;
        align-items: center;

        @include tablet {
            padding: 1rem 2rem;
        }

        @include desktop {
            padding: 1rem 10rem;
        }
    }

    &__button {
        width: 50px;
        border: 1px solid;
        border-radius: 1rem;
    }

    &__title {
        height: 50px;
        display: flex;
        align-items: center;
        text-align: center;

        &-logo {
            width: 3rem;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        &-text {
            border: none;
            // background: white;
            cursor: pointer;
        }
    }
}