@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    padding: 1rem;
    text-align: center;

    &__nav {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        &-text {
            border: none;
            cursor: pointer;
        }
    }
}

.profile {
    background-image: url(../../assets/background/hexagon_white.jpg);
    background-size: cover;

    &__box {
        border-top: 1px solid white;
        // border-radius: 1rem;
        box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.1);
        padding: 0rem 1rem;
        margin: 0rem 1rem;
        text-align: center;
        transition: all 0.5s;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
        }
    
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 10rem;
        }
    }
    


    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }



    &__header {
        display: flex;
        align-items: center;
        padding: 1rem 0rem;
        justify-content: space-between;

        & button {
            padding: 0.25rem;
        }
    }

    &__container {
        width: 100%;
        margin: 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid white;

        @include tablet {
            width: 32%;
        }

        & h3 {
            text-align: center;
            background-color: $background-color-2;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & img {
            width: 100%;
            aspect-ratio: 16 / 9;
        }

        & button {
            cursor: pointer;
            padding: 0.25rem;
        }
    }

    &__info {
        display: flex;

        & img {
            width: 5rem;
            height: 5rem;
            border-radius: 0.25rem;
            object-fit: cover;
        }

        & p {
            font-size: 1rem;
        }

        &-more {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.5rem;
            width: 100%;
        }

        &-status {
            text-align: center;
            padding: 0rem 0rem 0.5rem;
        }
    }

    &__logout {
        &-text {
            cursor: pointer;

            &:hover,
            &:focus {
                background: white;
                color: black;
                transition: 250ms background ease-in;
            }
        }
    }

    &__modal {
        width: 80vw;
        height: 110vh;
        top: 45%;
        left: 35%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-30%, -40%);
        padding: 0;
        position: absolute;
        border-radius: 2rem;
        border: none;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }


        @include tablet {
            width: 100vw;
            height: 100vh;
            max-width: 500px;
            height: auto;
            left: 40%;
            overflow: auto;
        }

        &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}

.profile__modal.light {
    color: white;
    background-color: transparent;
}

.profile__modal.dark {
    background-color: transparent;
}

.dark {
    border-color: white;
}

.profile__logout-text.light {

    &:hover,
    &:focus {
        background: black;
        color: white;
        transition: 250ms background ease-in;
    }
}

.profile__container.light {
    width: 100%;
    margin: 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    @include tablet {
        width: 32%;
        // height: 10rem;
    }
}

.results__container-text.light {
    background-color: $support-color-1;
    padding: 0rem;
}

.profile__box.light {
    border-top: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.profile.dark {
    background-image: url(../../assets/background/hexagon_black.png);
      background-size: auto;
  }