@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameprofile {
    background-image: url(../../assets/background/hexagon_white.jpg);
    background-size: cover;

    &__box {
        border-top: 1px solid white;
        // border-radius: 1rem;
        box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.05);
        padding: 1rem;
        margin: 0rem 1rem;
        transition: all 0.5s;
    
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
        }
    
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 10rem;
        }
    }



    &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & img {
            width: 60px;
        }
    }

    &__status {
        display: flex;
        gap: 0.25rem;
    }

    &__info {
        display: flex;
        padding: 1rem 0rem;

        & img {
            width: auto;
            max-width: 10rem;
            border-radius: 0.25rem;
            object-fit: cover;
        }

        &-more {
            padding: 0rem 1rem;
        }
    }

    &__button {
        display: flex;
        padding: 0rem 0rem 1rem;
        justify-content: space-between;

        @include tablet {
            gap: 1rem;
        }

        @include desktop {
            gap: 5rem;
        }
    }

    & button {
        cursor: pointer;
        width: 100%;

        &:hover,
        &:focus {
            background: white;
            color: black;
            // transition: 250ms background ease-in;
        }
    }

    &__modal {
        width: 80vw;
        max-width: 500px;
        height: auto;
        top: 45%;
        left: 35%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-30%, -40%);
        padding: 0;
        position: absolute;
        border-radius: 2rem;
        border: none;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @include tablet {
            width: 100vw;
            left: 40%;
            overflow: auto;
        }

        &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }

    &__other {
        display: flex;
        padding: 1rem 0rem 1rem;
        justify-content: space-between;

        @include tablet {
            padding: 1rem 6rem 1rem;
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-text {
            margin-top: 1rem;
        }

        & img {
            width: 3rem;
            height: 3rem;
            border-radius: 6.25rem;
            object-fit: cover;
            background: #E1E1E1;
            margin: 0.5rem;
            cursor: pointer;
        }
    }
}

.gameprofile__box.light {
    border-top: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

button.gameprofile__button-active.light {
    &:hover,
    &:focus {
      background: black;
      color: white;
      // transition: 250ms background ease-in;
    }
  }

  .gameprofile.dark {
    background-image: url(../../assets/background/hexagon_black.png);
    background-size: auto;
}