@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.results {
    &__modal {
        width: 80vw;
        height: 110vh;
        top: 45%;
        left: 35%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-30%, -40%);
        padding: 0;
        position: absolute;
        border-radius: 2rem;
        border: none;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
          }
          
    
        @include tablet {
            width: 100vw;
            height: 100vh;
            max-width: 500px;
            height: auto;
            left: 40%;
        }

        &-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }
}

.results__modal.light {
    color: white;
    background-color: transparent;
}

.results__modal.dark {
    background-color: transparent;
}