@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    background-image: url(../../assets/background/hexagon_white.jpg);
    background-size: cover;

    &__box {
        border-top: 1px solid white;
        // border-radius: 1rem;
        box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.05);
        padding: 1rem;
        margin: 0rem 1rem;
        text-align: center;
        // transition: all 0.5s;\

        @include tablet {
            // margin: 1rem 10rem;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 2rem;
        }

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 2rem;
            margin: 0rem 10rem;
        }
    }


    &__form {
        display: flex;
        flex-direction: column;
        min-height: 10rem;
        margin: auto;
        max-width: 60%;
        padding: .5rem;
    }

    &__input {
        background: $prim-color-2;
        border: 0 solid;
        border-bottom: 1px solid rgba($prim-color-2, .5);
        box-shadow: 5px 5px 5px rgba(253, 253, 253, 0.2);
        color: white;
        display: block;
        margin: 1rem 0rem;
        padding: .5rem;
        transition: 250ms background ease-in;
        width: 100%;
    }

    &__button {
        cursor: pointer;
    }
}

.search__input.light {
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(white, .5);
    box-shadow: 5px 5px 5px rgba(19, 24, 44, 0.2);
    ;
    color: black;
    display: block;
    margin: 1rem 0rem;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: 100%;

    &:focus {
        background: white;
        color: black;
        // transition: 250ms background ease-in;
    }
}

.search__box.light {
    border-top: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.search.dark {
    background-image: url(../../assets/background/hexagon_black.png);
    background-size: auto;
}