@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-image: url(../../assets/background/hexagon_white.jpg);
  background-size:cover;

  &__header {
    border-top: 1px solid white;
    // border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.05);
    padding: 1rem;
    margin: 0rem 1rem;
    text-align: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
      margin: 0rem 2rem;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
      margin: 0rem 10rem;
    }
  }

  &__start {
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      cursor: pointer;
      margin-left: 1rem;
      padding: 2px;

      &:hover,
      &:focus {
        background: white;
        color: black;
        // transition: 250ms background ease-in;
      }
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-container {
      width: 100%;
      margin: 1rem 0rem 1rem;
      display: flex;
      flex-direction: column;

      @include tablet {
        padding: 0rem 0.25rem;
        width: 33%;
      }

      & h3 {
        text-align: center;
        background-color: $background-color-2;
        height: 3rem;
      }

      & img {
        width: 100%;
        aspect-ratio: 16 / 9;
      }

      & button {
        cursor: pointer;
      }
    }
  }
}

.home__header.light {
  border-top: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.home__top-text.light {
  background-color: $support-color-1;
}

.home__start-text.light {
  &:hover,
  &:focus {
    background: black;
    color: white;
    // transition: 250ms background ease-in;
  }
}

.home.dark {
  background-image: url(../../assets/background/hexagon_black.png);
    background-size: auto;
}