@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  &__header {
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(202, 206, 214, 0.3);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    transition: all 0.5s;

    @include tablet {
      // margin: 1rem 10rem;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
      margin: 2rem;
      // padding: 1rem 0rem;
      // padding-right: calc(15vw - 100px);
      // padding-left: calc(15vw - 100px);
      // // padding-bottom: 60px;
      // margin: 1rem 2rem;
      // margin-right: calc(30vw - 100px);
      // margin-left: calc(30vw - 100px);
    }

    @include desktop {
      // margin: 1rem 10rem;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
      margin: 2rem 10rem;
      //   padding-right: calc(15vw - 160px);
      //   padding-left: calc(15vw - 160px);
      //   // padding-bottom: 60px;
      //   margin: 1rem 2rem;
      //   margin-right: calc(30vw - 10px);
      //   margin-left: calc(30vw - 10px);
    }
  }

  &__start {
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
      // border: none;
      cursor: pointer;
      margin-left: 1rem;
      padding: 2px;
    }
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-container {
      width: 100%;
      margin: 1rem 0rem 1rem;
      display: flex;
      flex-direction: column;
      // border: 1px solid white;

      @include tablet {
        padding: 0rem 0.25rem;
        width: 33%;
        // height: 10rem;
      }

      & h3 {
        text-align: center;
        background-color: $background-color-2;
        height: 3rem;
      }

      & img {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }
  }
}

.home__top-text.light {
  background-color: $support-color-1;
}